<section id="about">
  <div class="container">
    <div class="row center">
      <div class="col-10 top-12">
        <h2>About</h2>
      </div>
      <div class="col-8 top-4 bottom-12">
        <p class="top-4 bottom-4">The Open Trade Statistics is an independent project that values reproducible research and
        provides tidy trade data. At the moment we focus on commodities data.</p>
        <p class="top-4 bottom-4">Our added value is that, unlike many other good trade data projects focused on visualization,
          we put our effort on data processing, and our goal is to ease data analysis.</p>
        <p class="top-4 bottom-4">We advocate for openness and collaboration, so our contribution is focused on:</p>
        <h5 class="top-4">Releasing all of our scripts on GitHub</h5>
        <h5>Releasing snapshots of the software we use</h5>
        <h5>Sharing curated data (direct download and API)</h5>
      </div>
    </div>
  </div>
</section>
