<section id="contribute">
  <div class="container">
    <div class="row center">
      <div class="col-10 top-12">
        <h2>Contribute</h2>
      </div>
      <div class="col-8 top-4 bottom-12">
        <p class="top-4 bottom-4">Our work is made possible thanks to your support. Please visit us on GitHub to explore our code. Pull requests and new ideas are always welcome!</p>
        <p class="top-4 bottom-4">You can also help us by donating via PayPal and help us with the hosting.</p>

        <h5 class="top-4 bottom-4"> Follow us</h5>
        <a class="button main" href="https://github.com/tradestatistics/">
          GitHub
        </a>
        <br>
        <a class="button main top-2" href="https://twitter.com/opentradestats">
          Twitter
        </a>

        <h5 class="top-4 bottom-4"> Donate</h5>
        <a class="button alt top-2" href="https://paypal.me/tradestatistics">
          PayPal transfer
        </a>
      </div>
    </div>
  </div>
</section>
