<section id="data" class="darker-bg">
  <div class="container">
    <div class="row center">
      <div class="col-10 top-12">
        <h2>Data</h2>
      </div>
      <div class="col-8 top-4 bottom-12">
        <p class="top-4 bottom-4">Our data source is <a href="http://comtrade.un.org/" style="text-decoration: underline;">UN Comtrade</a>, a United Nations database, that collects data as
          reported by customs agencies.</p>
        <p>Comtrade provides data organized under two great categorizations: The Standard International Trade Classification
        (SITC) and the Harmonized System (HS). Each of these has different revisions, for example the HS introduced newer codes
        since its release in 1992, in the years 1996, 2002, 2007 and 2012 (the latter not a part of the project at the present time).</p>
        <p class="top-4 bottom-4">If you need to analyze exports growth for the period 1980-2000 at commodity level you'll have to convert the codes from
        SITC rev 2 from/to HS 1992/96/+ or viceversa due to data availability, being SITC codes in use in the 80s but HS 1992 only since 1992.</p>
        <p class="top-4 bottom-4">Here we provide consistent and complete data that we already converted to HS 2007, we used imports and exports data to
        correct each other (i.e replace "false" missing or zero flows), and also we looked for countries that did not report under one
        classification but used an older one while we did our best to keep data granularity to its finest level.</p>
        <a class="button main" href="data/index.html">
          Compressed Data
        </a>
        <br>
        <!--
          <a class="button main top-2" href="data2/index.html">
          API REST
        </a>
        -->
      </div>
    </div>
  </div>
</section>
