
    <!-- begins full header -->
    <div id="header">
        <div class="container">
            <div class="row center-m">
                <!-- ropensci logo container -->
                <div class="col-3 top-2 bottom-2">
                    <a href="/site/index.html" style="font-weight:bold;text-transform:uppercase;color:white;">Open Trade Statistics</a>
                </div>
                <!-- ends ropensci logo container -->
                <!-- begins navigation list in main menu -->
                {{ partial "navbar.html" . }}
                <!-- ends navigation list in main menu -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
<!-- ends full Header -->
